<!doctype html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;subset=cyrillic-ext" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <title>BlogNews</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand"><img src="css/img/logo.svg" alt="logo"> Logo </a>
        <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">НАУКА</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">ТЕХНИКА</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">БИЗНЕС</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">МИР</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">ТРЕНДЫ</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="app">
        <blog-box :items="blogItems" header-box='НОВОСТИ НАУКИ'></blog-box>
        {{ firstItem }}
    </div>

<script type="text/x-template" id="blog-item">
    <div :class="index == 0 ? 'col-lg-12' : 'col-lg-6 pl-0 pl-lg-3'">
        <div  class="boxBlog" :style="{ 'background-image': 'url(' + item.imgLink + ')' }">
            <div class="category">
                <ul>
                    <li v-for="tag in item.tags">{{ tag }}</li>
                </ul>
            </div>
            <h2>{{ item.title }}</h2>
            <p> {{ item.shortText }} </p>
            <div class="but_data">
                <a class="btn_read" :href="item.url">ЧИТАТЬ</a> <span>
                {{ item.year }}
                </span>
            </div>
        </div>
    </div>
</script>
<script type="text/x-template" id="blog-box">
    <div class="container"> 
        <div class="row">
            <div class="col-12">
                <h1 class="one_he">{{ headerBox }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 pr-lg-0 pr-3">
                <div class="row">
                    <blog-item v-for="(item, index) in items" :index='index' :item="item"></blog-item>
                </div>
            </div>
            <div class="col-lg-4 pr-lg-0 pr-3">
                  <mini-blog></mini-blog>
            </div>
        </div>
        <div class="container">
            <hr class="mt-5 mb-0">
        </div>                            
    </div>
</script>









    <footer class="footer">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>
















    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.js"></script>
    <script src="js/script.js"></script>
</body>

</html>