<!doctype html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;subset=cyrillic-ext" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <title>BlogNews</title>
</head>

<body>

        <div class="container">
                <div class="row">
                    <div class="col-12 p-3 p-lg-0">
            
                            <nav class="navbar navbar-expand-lg navbar-light bg-dark animated fadeInDown  ">
                                    <a class="navbar-brand"><img src="css/img/logo.svg" alt="logo"> Logo </a>
                                    <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div id="my-nav" class="collapse navbar-collapse">
                                        <ul class="navbar-nav ml-auto">
                                            <li class="nav-item active">
                                                <a class="nav-link" href="#">Наука</a>
                                            </li>
                                            <li class="nav-item active">
                                                <a class="nav-link" href="#">Техника</a>
                                            </li>
                                            <li class="nav-item active">
                                                <a class="nav-link" href="#">Бизнес</a>
                                            </li>
                                            <li class="nav-item active">
                                                <a class="nav-link" href="#">Мир</a>
                                            </li>
                                            <li class="nav-item active">
                                                <a class="nav-link" href="#">Тренды</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
            
                    </div>
                </div>
            </div>
             

    <div id="app">

<page-blog :pages="pageObject" :lotes="blogMini" ></page-blog>  
        


    </div>

<script type="text/x-template" id="page-blog">

    <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 p-lg-0 p-3">
                        <page-content v-for="(page, index) in pages" :key="index" :index="index" :page="page"></page-content>
        
                </div>
                <div class="col-lg-4 pr-lg-0 pr-3">
        
                        <mini-blog v-for="(lot, index) in lotes" :key="index" :index='index' :lot="lot"></mini-blog>
        
                </div>
        
        
        
            </div>
        </div>


</script>

<script type="text/x-template" id="mini-blog">
    <div class="row">
        <div class="col-12">
        <div class="boxBlog_mini">
                <ul>
                    <li v-for="tag in lot.tags">{{ tag }}</li>
                    </ul>
                    <h2>{{ lot.header }}</h2>
                    <span> {{ lot.dates }} </span> <a class="btn_arrow" :href="lot.link"></a>
        
        </div>
        </div>
        
        </div>
        

</script>

<script type="text/x-template" id="page-content">
    <div class="page">
        
            <div :style="{ 'background-image': 'url(' + page.img + ')' }" class="img_page"></div>
            <h1>
               {{ page.header }}

            </h1>
            <p>
            {{ page.textBlog }} </p>
    
            <hr class="mt-5 mb-0">
            <div class="resours">
                <div class="row">

                    <div class="col-6">
                        <p>Источник</p>
                    </div>
                    <div class="col-6">
                        <a :href=" page.resoursLink ">{{ page.resourseStr }}</a>
                    </div>

                </div>
            </div>
      



        </div>


</script>


    <footer class="footer">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.js"></script>
    <script src="js/script.js"></script>
</body>

</html>